<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
<div class="body">
  <div class="main-container">
    <mat-toolbar color="primary" class="topbar telative">
      <div class="navbar-header">
        <a class="navbar-brand d-flex justify-content-center p-0" href="/login">
          <b>
            <img src="assets/images/logo/vnpost_white.png" alt="homepage" class="light-logo">
          </b>
        </a>
      </div>
      <span fxFlex class="flex-box"></span>
      <button [matMenuTriggerFor]="language" class="no-border-first-item" mat-icon-button
        class="no-border-first-item m-r-5 mr-5 profile">
        <img [src]="flag" alt="Language" class="lang-pic">
        <span class="badge"><i class="fa fa-caret-down">
          </i></span>
      </button>
      <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('vi')" class="no-border-first-item">
          <img src="assets/images/flag/Vietnam.png" alt="user" class="lang-pic">
          {{'languageList.Vietnamese'| translate}}
        </button>
        <button mat-menu-item (click)="changeLang('en')">
          <img src="assets/images/flag/United-Kingdom.png" alt="user" class="lang-pic">
          {{'languageList.English'| translate}}</button>
      </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">

    </mat-sidenav-container>
  </div>
  <div class="container mb-30">
    <div class="forgot-content mt-4">
      <div class="image-logo">
        <img src="assets/images/tap.png" alt="image here">
      </div>
      <div class="description-forgot mt-2">
        <div class="title mb-30">
          <h2><b>{{'reset_pw.title'| translate}}</b></h2>
        </div>
        <div class="">
          <form id="register-form" [formGroup]="resetPwForm" role="form" autocomplete="off" class="form" method="post">
            <div class="mt-10 width-30 mt-20 main-div">
              <p>{{'reset_pw.title-newpw'| translate}} <small class="text-danger">*</small></p>
              <input formControlName="new_password" maxlength="50" [(ngModel)]="user.new_password" type="password"
                (keyup)="checkValue($event)">
              <span class="text-danger"
                *ngIf="submitted &&  !f['new_password'].valid && f['new_password'].errors.required">
                {{ commonErrorCode.REQUIRED |translate }}
              </span>
              <ul class="list-error">
                <li class="error" [ngClass]="{'passed':errorList.isLower}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isLower}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.lowercase' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isUpper}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isUpper}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.uppercase' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isMinValid}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isMinValid}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.min' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isSpecial}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isSpecial}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.special' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isNumber}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isNumber}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.number' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isUtf8}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isUtf8}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.utf8' |translate }}</span>
                </li>
              </ul>
            </div>
            <div class="mt-10 width-30 mt-20 ">
              <p>{{'reset_pw.title-repw'| translate}} <small class="text-danger">*</small></p>
              <input formControlName="confirm_password" maxlength="50" [(ngModel)]="user.confirm_password"
                type="password">
              <span class="text-danger"
                *ngIf="submitted &&  !f['confirm_password'].valid && f['confirm_password'].errors.required">
                {{ commonErrorCode.REQUIRED |translate }}
              </span>
              <span class="text-danger" *ngIf="!f['confirm_password'].valid && f.confirm_password?.errors?.mustMatch">
                {{ commonErrorCode.NOT_MATCH |translate }}
              </span>

            </div>
            <div class="width-30 mt-20 ">
              <p>{{'reset_pw.otp'| translate}} <small class="text-danger">*</small></p>
              <div style="display: flex;">
                <style>
                  #otp {
                    width: 65%;
                    border-right: none;
                    border-radius: 5px 0 0 5px;
                    min-width: 0;
                  }

                </style>
                <input id="otp" maxlength="6" [(ngModel)]="user.otp" formControlName="otp" type="text" appNumberOnly>
                <button (click)="getOTP()" type="button" class="send-otp">
                  <i class="material-icons"
                    style="font-size: 15px;">restore</i>&nbsp;&nbsp;<span>{{'get_otp'| translate}}</span></button>
              </div>
              <span class="text-danger" *ngIf=" submitted && !f['otp'].valid && f['otp'].errors?.required">
                {{ commonErrorCode.REQUIRED |translate }}
              </span>
              <span class="text-danger" *ngIf="expire_otp && !f['otp'].errors?.required">
                {{'otp_expired'| translate}}
              </span>
              <span *ngIf="!expire_otp" class="expire"><i>* {{'expire_otp'| translate}}</i></span>
            </div>
            <div class="width-30 mt-30 button-submit fs-17">
              <button class="reset-button" (click)="updateNewPasswords()"
                type="submit">{{'resetpassword'| translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/container-->
</div>
