@import "../../../../styles/ultilities/_variable.scss";
@import "../../../../styles/ultilities/_variable.color.scss";

.body {
  background: white;
  min-height: 100vh;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.forgot-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px));
  text-align: center;

  .image-logo img {
    width: 250px;
    height: 260px;
    object-fit: cover;
  }
}

.width-30 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 30%;
}

.width-30 input {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  box-shadow: none;
  min-width: 300px;
  border: solid 1px $color-darkcyan;
  width: 100%;
  height: 35px;
}

.width-30.button-submit {
  height: 40px;
}

.width-30 p {
  margin-bottom: 5px;
  font-weight: 500;
}

.reset-button {
  border-radius: 5px;
  background: $color-darkcyan;
  color: white;
  font-weight: 400;
  border: solid 1px $color-darkcyan;
  outline: none;
  transition: all 0.2s ease-in-out;
  height: 45px;

  &:hover {
    opacity: 0.8;
  }
}

.mt-20 {
  margin-top: 20px;
}

div.main-div {
  position: relative;
}

ul.list-error {
  list-style: none;
  position: absolute;
  right: -50%;
  top: 25px;
  border: solid 1px #e2e2e2;
  padding: 15px;
  background: #e2e2e2;
  border-radius: 0 5px 5px 5px;

  &:before {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #e2e2e2;
    position: absolute;
    left: -16px;
    top: -1px;

  }

  li.error {
    display: flex;
    align-items: center;

    i {
      font-size: 15px;
      color: white;
    }

    i.dot {
      font-size: 17px;
      position: absolute;
      color: white;
    }

    i.hidden {
      color: transparent;
    }

    span {
      font-size: 12px;
    }
  }

  .passed {
    color: $color-darkcyan;

    i:not(.dot) {
      color: $color-darkcyan;
    }
  }
}

@media only screen and (max-width: 1200px) {
  ul.list-error {
    right: -75%;
    top: 25px;

  }

}

@media only screen and (max-width: 992px) {
  .width-30 {
    width: 100%;
    max-width: 300px;
  }

}

@media only screen and (max-width: 899px) {
  ul.list-error {
    list-style: none;
    position: relative;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 10px 0 0 0;
    margin-bottom: 0;

    &:before {
      border: none;

    }

    li.error {
      display: flex;
      align-items: center;

      i {
        font-size: 15px;
        color: #e2e2e2;
      }

      i.dot {
        font-size: 17px;
        position: absolute;
        color: #e2e2e2;
      }

      i.hidden {
        color: transparent;
      }

      span {
        font-size: 12px;
      }
    }

    .passed {
      color: $color-darkcyan;

      i:not(.dot) {
        color: $color-darkcyan;
      }
    }
  }
}

.text-danger {
  font-size: 10.5px;
  padding-top: 5px;
  color: #f44336;
}

.send-otp {
  border-radius: 0 5px 5px 0;
  color: white;
  outline: none;
  box-shadow: none;
  border: solid 1px $color-darkcyan;
  background: $color-darkcyan;
  width: 125px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

#otp {
  width: 65%;
  border-right: none;
  border-radius: 5px 0 0 5px;
  min-width: 0;
}

.expire {
  color: #007db8;
  padding-top: 5px;
  font-size: 10.5px;
}

.expired {
  color: #f44336;
}

.fs-17 {
  font-size: 17px;
}
