<div class="body">
  <div class="form-login">
    <div class="form-group">
      <div class="theme">
        <img src="/assets/images/login/theme.jpg" alt="image here" />
      </div>
      <div class="description">
        <div class="text-right language-des mb-30">
          <button [matMenuTriggerFor]="language" class="no-border-first-item" mat-icon-button
            class="no-border-first-item profile">
            <img [src]="flag" alt="Language" class="lang-pic">
            <span class="badge" style="color:black"><i class="fa fa-caret-down">
              </i></span>
          </button>
          <mat-menu #language="matMenu">
            <button mat-menu-item (click)="changeLang('vi')" class="no-border-first-item">
              <img src="assets/images/flag/Vietnam.png" alt="user" class="lang-pic"> &nbsp;
              {{'languageList.Vietnamese'| translate}}
            </button>
            <button mat-menu-item (click)="changeLang('en')">
              <img src="assets/images/flag/United-Kingdom.png" alt="user" class="lang-pic">&nbsp;
              {{'languageList.English'| translate}}</button>
          </mat-menu>
        </div>
        <div class="text-center logo-des mb-60">
          <img src="assets/images/logo/ite_logo.jpg" alt="image here" />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="description-body">
          <div class="input-group mb-20">
            <label>{{'login.user-name'| translate}}</label>
            <input formControlName="username" autofocus type="text" (keydown.enter)="enter($event)" />
            <mat-error *ngIf="submitted && !f.username.valid && f.username.errors.required">
              {{ commonErrorCode.REQUIRED | translate }}
            </mat-error>
          </div>
          <div class="input-group mb-20">
            <label>{{'login.password'| translate}}</label>
            <div class="ipt-group_pw">
              <input formControlName="password" [type]="showPw ? 'text' : 'password'" (keydown.enter)="enter($event)" />
              <i class="material-icons pw-icon" (click)="togglePw()">
                <span *ngIf="showPw">visibility</span>
                <span *ngIf="!showPw">visibility_off</span>
              </i>
              <mat-error *ngIf="submitted && !f.password.valid && f.password.errors.required">
                {{ commonErrorCode.REQUIRED | translate }}
              </mat-error>
            </div>

          </div>
          <div class="description-body-radio-group login-group-form-remember">
            <label for="remember" class="lb-container">{{'login.remember-me'| translate}}
              <input id="remember" type="checkbox" (change)="setValue($event)" formControlName="remember_me">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="login-error" *ngIf="submitted && error_message">
            <small class="text-danger">{{ error_message }}</small>
          </div>
          <div class="description-body-button pt-1">
            <button class="mb-30 btn-login">{{'login.title'| translate}}</button>
            <!-- <div class="description-footer">
              <a class="text-center mb-4" (click)="redirect()">{{'login.forgot-password'| translate}}</a>
            </div> -->
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
