img {
  width: 175px;
  height: 175px;
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-height: 200px;
}

.bg-teal {
  background-color: teal;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.button-container {
  .btn-upload {
    height: 36px;
    background-color: #d6d6d6;
  }

  .text {
    margin-left: 20px;
  }
}

.review {
  margin: 10px 0 25px;
}

.upload-error {
  font-size: 75%;
  margin-top: 10px;
}

@media(max-width:767px) {
  .ws-120 {
    max-width: 75px !important;
  }

  .txt-size {
    font-size: 18px !important;
  }

  .max-w-200 {
    max-width: 200px !important;
  }
}
