<mat-dialog-content class="mat-typography mat-success">
  <div class="success-popup">
    <i class="material-icons" style="font-size: 95px;
    margin-bottom: 30px;
    color: #00A99D;">check_circle</i>
  </div>
  <div style="margin:10px 0 20px 0; max-width: 330px;" class="text-center">
    <p style="margin-bottom:5px">{{'dialogSuccessResetPw.mes-1' | translate}}</p>
    <p>{{'dialogSuccessResetPw.mes-2' | translate}}</p>
  </div>
  <div class="mat-footer">
    <button (click)="closeDialog()">{{'dialogSuccessResetPw.submit' | translate}} </button>
  </div>
</mat-dialog-content>
