@import"../../../../../styles/ultilities/variable";
@import "../../../../../styles/ultilities/_variable.color.scss";

.body {
  background: white;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Be Vietnam', sans-serif;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.forgot-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px));
  text-align: center;

  .image-logo img {
    width: 200px;
    height: 205px;
    object-fit: cover;
  }

  .input-forgot form {
    display: flex;
    justify-content: center;

    input[name="email"] {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px;
      outline: none;
      box-shadow: none;
      min-width: 300px;
      border: solid 1px $color-darkcyan;
      border-right: none;
      height: 100%;
    }

    input[name="recover-submit"] {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 35px;
      background: #00aaa5;
      color: white;
      font-weight: 400;
      border-left: none;
      border: solid 1px #00aaa5;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: $color-darkcyan;
        border: solid 1px $color-darkcyan;
      }
    }

  }
}

.custom-div {
  position: relative;

  .mat-error {
    position: absolute;
    left: 0;
    top: 35px;
  }
}

@media only screen and (max-width: 992px) {
  .forgot-content .input-forgot form {
    flex-direction: column;

    input[name="email"] {
      border-radius: 5px;
      border-right: solid 1px $color-darkcyan;
    }

    input[name="recover-submit"] {
      border-radius: 5px;
      border-left: solid 1px $color-darkcyan;

    }
  }

  .custom-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-error {
      position: relative;
      top: 5px;
    }

    input {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

ul.list-error {
  list-style: none;
  position: absolute;
  right: -45%;
  top: 25px;
  border: solid 1px #e2e2e2;
  padding: 15px;
  background: #e2e2e2;

  &:before {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #e2e2e2;
    position: absolute;
    left: -16px;
    top: -1px;

  }

  li.error {
    display: flex;
    align-items: center;

    i {
      font-size: 15px;
      color: white;
    }

    i.dot {
      font-size: 17px;
      position: absolute;
      color: white;
    }

    i.hidden {
      color: transparent;
    }

    span {
      font-size: 12px;
    }
  }

  .passed {
    color: $color-darkcyan;

    i:not(.dot) {
      color: $color-darkcyan;
    }
  }
}

@media only screen and (max-width: 1200px) {
  ul.list-error {
    right: -75%;
    top: 25px;

  }

}

@media only screen and (max-width: 992px) {
  .width-30 {
    width: 100%;
    max-width: 300px;
  }

}

@media only screen and (max-width: 899px) {
  ul.list-error {
    list-style: none;
    position: relative;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 0;

    &:before {
      border: none;

    }

    li.error {
      display: flex;
      align-items: center;

      i {
        font-size: 15px;
        color: #e2e2e2;
      }

      i.dot {
        font-size: 17px;
        position: absolute;
        color: #e2e2e2;
      }

      i.hidden {
        color: transparent;
      }

      span {
        font-size: 12px;
      }
    }

    .passed {
      color: $color-darkcyan;

      i:not(.dot) {
        color: $color-darkcyan;
      }
    }
  }
}

::ng-deep .ct-dialog .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}

.center-flex {
  justify-content: center;
}
