<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
<div class="body">
  <div class="main-container">
    <mat-toolbar color="primary" class="topbar telative">
      <div class="navbar-header">
        <a class="navbar-brand d-flex justify-content-center p-0" href="/login">
          <b>
            <img src="assets/images/logo/vnpost_white.png" alt="homepage" class="light-logo">
          </b>
        </a>
      </div>
      <span fxFlex class="flex-box"></span>
      <button [matMenuTriggerFor]="language" class="no-border-first-item" mat-icon-button
        class="no-border-first-item m-r-5 mr-5 profile">
        <img [src]="flag" alt="Language" class="lang-pic">
        <span class="badge"><i class="fa fa-caret-down">
          </i></span>
      </button>
      <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('vi')" class="no-border-first-item">
          <img src="assets/images/flag/Vietnam.png" alt="user" class="lang-pic">
          {{'languageList.Vietnamese'| translate}}
        </button>
        <button mat-menu-item (click)="changeLang('en')">
          <img src="assets/images/flag/United-Kingdom.png" alt="user" class="lang-pic">
          {{'languageList.English'| translate}}</button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <div class="container">
    <div class="forgot-content mt-3">
      <div class="image-logo">
        <img src="assets/images/tap.png" alt="image here">
      </div>
      <div class="description-forgot">
        <div class="title mb-30">
          <h2><b>{{'reset_pw.title'| translate}}</b></h2>
          <p>{{'changethere'| translate}}</p>
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onUpdate()" class="mb-4">
          <div class="row center-flex">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 col-10">
              <mat-form-field class="w-100" appearance="standard">
                <mat-label>{{ 'changePassword.currentPassword' | translate }}</mat-label>
                <mat-icon class="form-input-icon" matPrefix>lock</mat-icon>
                <input type="password" matInput placeholder="" value="" formControlName="currentPassword"
                  placeholder="{{ 'changePassword.placeholder.old' | translate }}" (keydown)="onKeydown($event)">
                <mat-error *ngIf="f.currentPassword.hasError('required')">
                  {{ 'profileAccount.validator.required' | translate }}
                </mat-error>
                <mat-error *ngIf="f.currentPassword.hasError('incorrect')">
                  {{ 'profileAccount.validator.currentPass' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row center-flex">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 col-10">
              <mat-form-field class="w-100" appearance="standard">
                <mat-label>{{'changePassword.newPassword'| translate}}</mat-label>
                <mat-icon class="form-input-icon" matPrefix>lock</mat-icon>
                <input type="password" matInput placeholder="" (keyup)="checkValue($event)" value=""
                  formControlName="password" minlength="6" maxlength="50"
                  placeholder="{{ 'changePassword.placeholder.new' | translate }}" (keydown)="onKeydown($event)">
                <mat-error *ngIf="f.password.hasError('required')">
                  {{ 'profileAccount.validator.required' | translate }}
                </mat-error>
              </mat-form-field>
              <ul class="list-error">
                <li class="error" [ngClass]="{'passed':errorList.isLower}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isLower}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.lowercase' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isUpper}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isUpper}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.uppercase' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isMinValid}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isMinValid}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.min' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isSpecial}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isSpecial}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.special' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isNumber}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isNumber}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.number' |translate }}</span>
                </li>
                <li class="error" [ngClass]="{'passed':errorList.isUtf8}">
                  <i class="material-icons dot" [ngClass]="{'hidden':errorList.isUtf8}">fiber_manual_record</i>
                  <i class="material-icons">done</i>&nbsp;&nbsp;
                  <span>{{ 'error_code.changepassword.format.utf8' |translate }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="row center-flex">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8 col-10">
              <mat-form-field class="w-100" appearance="standard">
                <mat-label>{{'changePassword.confirmPassword'| translate}}</mat-label>
                <mat-icon class="form-input-icon" matPrefix>lock</mat-icon>
                <input type="password" matInput placeholder="" value="" formControlName="confirmPassword"
                  placeholder="{{ 'changePassword.placeholder.re-new' | translate }}" (keydown)="onKeydown($event)">
                <mat-error *ngIf="f.confirmPassword.hasError('required')">
                  {{ 'profileAccount.validator.required' | translate }}
                </mat-error>
                <mat-error *ngIf="f.confirmPassword.hasError('equalTo') && !f.confirmPassword.hasError('required')">
                  {{ 'profileAccount.validator.equalPassword' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-4">
            <button type="submit" mat-raised-button class="btn-save text-white button-submit ml-3 common-button">
              <i class="material-icons">save</i>
              {{ 'changePassword.confirm' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
