$color-page-background: #f2f2f2;
$color-action-item: #ff66cc;
$color-label-header: #666666;
$color-label-content: #4d4d4d;
$color-background-header: #FCB71E;
$color-background-header-2: #276e84;
$color-darkcyan: #3399ff;
$color-lightseagreen: #11a6a1;
$color-white: #ffffff;
$color-gainsboro: #caece4;
$color-gray: #cccccc;
$color-salomie: #ffd480;
$color-light-sea-green: #14acb2;
$color-all-ports: #276e84;
$color-notification-badge: #ff586b;

// stylelint-disable
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$mirrorColor: rgb(252 183 30 / 70%);
