// colors
$color-blue: #0079bf;
$color-nav-bg: #3d3c38;
// others
$sidebar-width: 48px;
$expanded-sidebar-width: 240px;
$navbar-height: 48px;
$window-distance-top: 65px;
$min-height-topbar: 38px;
$z-index: 100;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    )
  ),
  $spacers
);

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
