@import "./ultilities/_variable.scss";
@import "./ultilities/_variable.color.scss";
@import "./ultilities/variable_2.scss";
@import "./ultilities/button";
@import "./layout/pages.scss";
@import "./layout/responsive.scss";
@import "./layout/header.scss";
@import "./layout/layout.scss";
@import "./layout/sidebar.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber";
@import "./app/custom-bootstrap.scss";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "./app/common.scss";
@import "./app/custom-material-theme.scss";
@import "./app/custom-style.scss";
@import "./layout/loading.scss";
@import "./icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import "~ngx-toastr/toastr";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $color-page-background !important;
  font-size: 14px !important;

  .mat-card {
    border: 0.5px solid #d8d8d8;
  }
}

.subtitle-color-all {
  color: #6C757D;
}

.mat-sort-header {
  .mat-sort-header-container {
    .mat-sort-header-button {
      text-align: left !important;
    }
  }
}

.ct-select-position {
  margin-top: 26px !important;
  margin-left: -18px !important;
  max-width: 0 !important;
}

.ct-select-position.dialog-select {
  margin-top: 29px !important;
  margin-left: 3px !important;
}

.ct-select-position.mat-select-panel .mat-option {
  line-height: 32px;
  height: 32px;
}

.bs-datepicker {
  margin-top: 12px;
}

.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected {
  background-color: $color-darkcyan !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: $color-darkcyan !important;
}

.ct-datepicker {
  &.mat-focused {
    border: 1px solid #80bdff;
  }

  .mat-form-field-flex {
    height: 33px;
    align-items: center;
  }

  .mat-form-field-infix {
    border: none;
    font-size: 14px;
    display: flex;
    position: relative;
    line-height: 23px;
    height: 35px;
  }

  .mat-icon-button {
    min-width: 0 !important;
    background-color: #fff !important;
    color: rgb(0, 0, 0) !important;
    height: initial !important;
    padding: 0 !important;
  }

  .mat-datepicker-toggle-default-icon {
    width: 18px !important;
  }

  .mat-form-field-underline {
    display: none;
  }

  &.mat-form-field.mat-focused .mat-form-field-label {
    color: inherit !important;
  }

  .mat-input-element {
    color: #495057;
    height: 23px;
  }

  .ct-date-icon {
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
  }
}

.col-action .btn-view {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.col-action .btn-view[disabled] {
  opacity: 0.4;
}

.status-menu .mat-menu-item {
  height: 30px;
  line-height: 30px;

  &:hover {
    background-color: $color-darkcyan;
    color: #fff;
  }
}

.bs-datepicker-head button {
  min-width: 0 !important;
}

.cdk-overlay-pane-select-search {
  transform: translateX(-34px) translateY(25px) !important;
}

@media only screen and (min-width: 768px) {
  .custom-position {
    .bs-datepicker-container {
      left: 50px !important;
    }
  }
}


// custom sort
.report-management {
  .sort .mat-sort-header-container {
    justify-content: flex-end;
  }

  .sort-center .mat-sort-header-container {
    justify-content: center;
  }

  .mat-sort-header-container .mat-sort-header-arrow {
    opacity: 0.4 !important;
    transform: translateY(0) !important;
  }

  .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 1 !important;
  }

  .mat-sort-header {
    cursor: pointer;
  }

  // .mat-sort-header:hover .mat-sort-header-container .mat-sort-header-arrow {
  //   opacity: 1 !important;
  // }
}

// combobox: dropdown with search
.mat-select-panel.mat-select-search-panel {
  border: 1px solid #ccc;

  &.ct-merchant-combobox {
    margin-top: 4px;
    transform: translateX(20px) !important;

    .mat-select-search-inner {
      margin-top: 4px !important;
    }
  }

  .mat-select-search-clear {
    top: -1px !important;
  }

  input {
    width: 100%;
    border: none;

    &:focus {
      outline: none;
    }
  }
}


.mat-select-search-panel .mat-option:not(.mat-select-search-no-entries-found) {
  height: 32px !important;
  line-height: 32px !important;

  &:nth-child(2) {
    margin-top: 10px;
  }
}

.mat-select-search-panel.ct-merchant-combobox .mat-option:not(.mat-select-search-no-entries-found) {
  &:nth-child(2) {
    margin-top: 15px;
  }
}

@keyframes dropdown-animation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-dialog-container {
  padding-top: 12px !important;
  padding-bottom: 16px !important;
}

// custom sidebar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  // background-image: -webkit-linear-gradient(45deg,
  //     rgba(255, 255, 255, 0.2) 25%,
  //     transparent 25%,
  //     transparent 50%,
  //     rgba(255, 255, 255, 0.2) 50%,
  //     rgba(255, 255, 255, 0.2) 75%,
  //     transparent 75%,
  //     transparent);
}

@media screen and (min-width: 1200px) {
  bs-datepicker-container {
    left: 20px !important;
  }
}

.mat-expansion-panel.ct-expansion {
  margin-bottom: 16px;
}

.ct-expansion .ct-expansion-content {
  border-top: 1px solid rgba(0,0,0,.12);
  padding-top: 20px;
}

.ct-expansion .title {
  font-size: 16px;
}


.basic-info {
  .info {
    display: flex;
    padding-bottom: 10px;
  }

  .label {
    color: #6c757d;
    min-width: 140px;
    margin-right: 15px;
  }

  .content {
    word-break: break-word;
    -ms-word-break: break-all;
    word-wrap: break-word;
    max-width: calc(100% - 160px);
  }
}

.dialog-content .field {
  align-items: baseline;

  .ct-control {
    padding: 2px 12px;
  }
}

.font-normal {
  font-size: 14px;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .ct-date {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .ct-date .form-control {
    width: 100px !important;
  }
}

@media screen and (min-width: 992px) {
  .common-management .search-form form .form-control.report-type {
      min-width: 350px;
  }
}

// timepicker
.ngx-timepicker {
  border-bottom: none !important;
}

.period-control__button:focus::after {
  background: none !important;
}

.ngx-timepicker-control__input, .period-control__button {
  font-size: 14px !important;
}

.ngx-timepicker-control::after {
  display: none !important;
}

.period-selector__button--active {
  color: #FCB71E !important;
}
// end timepicker

.p-title {
  padding: 4px 0 20px;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 24px;
}

.detail-image {
  width: 75px;
  height: 50px;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.common-management .ct-textarea {
  height: auto;
  padding: 6px 12px !important;
  border: 1px solid #ced4da;
}

// history
.history-container {
  .content {
    max-height: 500px;
    overflow: auto;
    padding: 0 5px;
    margin-top: 15px;
  }

  .history {
    padding-left: 20px;
    padding-bottom: 15px;
    border-left: $border;
    position: relative;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: 9px;
  }

  .action-time {
    padding: 3px 10px;
    color: #fff;
    position: relative;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      position: absolute;
      left: -10px;
      top: 8px;
    }

    &.bg-even::before {
      border-right: 10px solid #1d1d7d;
    }

    &.bg-odd::before {
      border-right: 10px solid green;
    }
  }

  .bg-odd {
    background-color: green;
  }

  .bg-even {
    background-color: #1d1d7d;
  }

  .bg-normal {
    background-color: grey;
  }

  .action-name {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    word-break: break-word;
    -ms-word-break: break-all;

  }

  .see-more {
    padding-left: 20px;
  }
}

img {
  max-width: 100%;
}