<div class="ct-dialog">
  <mat-card-title class="mat-title-dialog text-center">
    <div class="text-center title">
      {{ "changeInfor.title" | translate }}
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" appFirstFocus>
      <div class="dialog-content">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>{{ 'profileAccount.fullName' | translate }}</mat-label>
              <mat-icon class="form-input-icon" matPrefix>account_box</mat-icon>
              <textarea class="ct-textarea form-field" matInput formControlName="fullname" appNoSpecialCharacter
                placeholder="{{ 'user.add-edit-detail.placeholder.fullName' | translate }}" maxlength="50"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2"
                (keydown.enter)="enter($event)"></textarea>
              <mat-error *ngIf="!f.fullname.valid && (f.fullname.errors.required || f.fullname.errors.nameSpace)">
                {{ commonErrorCode.REQUIRED | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>{{ 'profileAccount.username' | translate }}</mat-label>
              <mat-icon class="form-input-icon" matPrefix>perm_identity</mat-icon>
              <input matInput class="form-field" formControlName="username">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>{{ 'profileAccount.email' | translate }}</mat-label>
              <mat-icon class="form-input-icon" matPrefix>email</mat-icon>
              <input matInput class="form-field" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>{{ 'profileAccount.phone' | translate }}</mat-label>
              <mat-icon class="form-input-icon" matPrefix>smartphone</mat-icon>
              <input matInput class="form-field" formControlName="phone" appNumberOnly maxlength="11">
              <mat-error *ngIf="!f.phone.valid && f.phone.errors.required">
                {{ commonErrorCode.REQUIRED | translate }}
              </mat-error>
              <mat-error *ngIf="!f.phone.valid && f.phone.errors.telephone">
                {{ commonErrorCode.PHONE_PATTERN | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" appearance="standard">
              <mat-label>{{ 'profileAccount.language' | translate }}</mat-label>
              <mat-icon class="form-input-icon" matPrefix>language</mat-icon>
              <mat-select class="form-field" formControlName="language" disableOptionCentering
                panelClass="ct-select-position">
                <mat-option *ngFor="let item of languageList" [value]="item.value">
                  {{ 'languageList.' + item.desc | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <button type="button" class="btn-cancel text-white mr-2" (click)="cancel(false)" mat-raised-button>
          <i class="material-icons">close</i>
          {{ 'commonAction.cancel' | translate }}
        </button>
        <button type="submit" mat-raised-button class="btn-save text-white button-submit">
          <i class="material-icons">save</i>
          <span> {{ 'commonAction.update' | translate }}</span>
        </button>
      </div>
    </form>
  </mat-card-content>
  <div class="btn-close" (click)="cancel(false)">
    <i class="material-icons">close</i>
  </div>
</div>
