<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
<div class="body">
  <div class="main-container">
    <mat-toolbar color="primary" class="topbar telative">
      <div class="navbar-header">
        <a class="navbar-brand d-flex justify-content-center p-0" href="/login">
          <b>
            <img src="assets/images/logo/vnpost_white.png" alt="homepage" class="light-logo">
          </b>
        </a>
      </div>
      <span fxFlex class="flex-box"></span>
      <button [matMenuTriggerFor]="language" class="no-border-first-item" mat-icon-button
        class="no-border-first-item m-r-5 mr-5 profile">
        <img [src]="flag" alt="Language" class="lang-pic">
        <span class="badge"><i class="fa fa-caret-down">
          </i></span>
      </button>
      <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('vi')" class="no-border-first-item">
          <img src="assets/images/flag/Vietnam.png" alt="user" class="lang-pic">
          {{'languageList.Vietnamese'| translate}}
        </button>
        <button mat-menu-item (click)="changeLang('en')">
          <img src="assets/images/flag/United-Kingdom.png" alt="user" class="lang-pic">
          {{'languageList.English'| translate}}</button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <div class="container">
    <div class="forgot-content  mt-4">
      <div class="image-logo">
        <img src="assets/images/fg.png" alt="image here">
      </div>
      <div class="description-forgot  mt-2">
        <div class="title mb-30">
          <h2><b>{{'forgotpassword'| translate}}</b></h2>
          <p>{{'resethere'| translate}}</p>
        </div>
        <div class="input-forgot mb-30">
          <form [formGroup]="resetForm" role="form" autocomplete="off" class="form" method="post">
            <div class="mt-10 custom-div">
              <input #email formControlName="email" name="email" placeholder="{{'emailaddress'| translate }}"
                type="email">
              <mat-error #error *ngIf="submitted">
                {{ errorForm }}
              </mat-error>
            </div>
            <div class="mt-10">
              <input name="recover-submit" value="{{'resetpassword'| translate}}" (click)="resetPasswords(email.value)"
                type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!--/container-->
</div>
