@import "../../../../styles/ultilities/_variable.scss";
@import "../../../../styles/ultilities/_variable.color.scss";

.body {
  background: white;
  min-height: 100vh;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.forgot-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px));
  text-align: center;

  .image-logo img {
    width: 240px;
    height: 260px;
    object-fit: cover;
  }

  .input-forgot form {
    display: flex;
    justify-content: center;

    input[name="email"] {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px 10px;
      outline: none;
      box-shadow: none;
      min-width: 300px;
      border: solid 1px $color-darkcyan;
      border-right: none;
      height: 35px;
    }

    input[name="recover-submit"] {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 35px;
      background: $color-darkcyan;
      color: white;
      font-weight: 400;
      border-left: none;
      border: solid 1px $color-darkcyan;
      outline: none;
      transition: all 0.2s ease-in-out;
      width: 125px;

      &:hover {
        opacity: 0.8;
      }
    }

  }
}

.custom-div {
  position: relative;

  .mat-error {
    position: absolute;
    left: 0;
    top: 35px;
    font-size: 10.5px;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 992px) {
  .forgot-content .input-forgot form {
    flex-direction: column;

    input[name="email"] {
      border-radius: 5px;
      border-right: solid 1px $color-darkcyan;
    }

    input[name="recover-submit"] {
      border-radius: 5px;
      border-left: solid 1px $color-darkcyan;

    }
  }

  .custom-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-error {
      position: relative;
      top: 5px;
    }

    input {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
