<div class="ct-dialog viewer">
  <mat-card-content class="ct-content">
    <div class="row d-flex justify-content-center">
      <img [src]="mainImageUrl" default="/assets/images/no-image.jpg" alt="image here">
    </div>
    <div class="row d-flex justify-content-center mt-3">
      <button type="button" class="btn-cancel text-white" (click)="cancel()" mat-raised-button>
        <i class="material-icons">close</i>
        {{ 'commonAction.close' | translate }}
      </button>
    </div>
  </mat-card-content>
</div>
