<div class="ct-dialog">
  <mat-card-title class="mat-title-dialog text-center">
    <span>{{ 'changePassword.changePassword' | translate }}</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="mb-0">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onUpdate()" appFirstFocus>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label>{{ 'changePassword.currentPassword' | translate }}</mat-label>
            <mat-icon class="form-input-icon" matPrefix>lock</mat-icon>
            <input type="password" matInput class="form-field" placeholder="" value="" formControlName="currentPassword"
              placeholder="{{ 'changePassword.placeholder.old' | translate }}" (keydown)="onKeydown($event)">
            <mat-error *ngIf="f.currentPassword.hasError('required')">
              {{ 'profileAccount.validator.required' | translate }}
            </mat-error>
            <mat-error *ngIf="f.currentPassword.hasError('incorrect')">
              {{ 'profileAccount.validator.currentPass' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label>{{'changePassword.newPassword'| translate}}</mat-label>
            <mat-icon class="form-input-icon" matPrefix>lock</mat-icon>
            <input type="password" matInput class="form-field" placeholder="" value="" formControlName="password"
              (keyup)="checkValue($event)" maxlength="50"
              placeholder="{{ 'changePassword.placeholder.new' | translate }}" (keydown)="onKeydown($event)">
            <mat-error *ngIf="f.password.hasError('required')">
              {{ 'profileAccount.validator.required' | translate }}
            </mat-error>
          </mat-form-field>
          <ul class="list-error">
            <li class="error" [ngClass]="{'passed':errorList.isLower}">
              <i class="material-icons dot" [ngClass]="{'hidden':errorList.isLower}">fiber_manual_record</i>
              <i class="material-icons">done</i>&nbsp;&nbsp;
              <span>{{ 'error_code.changepassword.format.lowercase' |translate }}</span>
            </li>
            <li class="error" [ngClass]="{'passed':errorList.isUpper}">
              <i class="material-icons dot" [ngClass]="{'hidden':errorList.isUpper}">fiber_manual_record</i>
              <i class="material-icons">done</i>&nbsp;&nbsp;
              <span>{{ 'error_code.changepassword.format.uppercase' |translate }}</span>
            </li>
            <li class="error" [ngClass]="{'passed':errorList.isMinValid}">
              <i class="material-icons dot" [ngClass]="{'hidden':errorList.isMinValid}">fiber_manual_record</i>
              <i class="material-icons">done</i>&nbsp;&nbsp;
              <span>{{ 'error_code.changepassword.format.min' |translate }}</span>
            </li>
            <li class="error" [ngClass]="{'passed':errorList.isSpecial}">
              <i class="material-icons dot" [ngClass]="{'hidden':errorList.isSpecial}">fiber_manual_record</i>
              <i class="material-icons">done</i>&nbsp;&nbsp;
              <span>{{ 'error_code.changepassword.format.special' |translate }}</span>
            </li>
            <li class="error" [ngClass]="{'passed':errorList.isNumber}">
              <i class="material-icons dot" [ngClass]="{'hidden':errorList.isNumber}">fiber_manual_record</i>
              <i class="material-icons">done</i>&nbsp;&nbsp;
              <span>{{ 'error_code.changepassword.format.number' |translate }}</span>
            </li>
            <li class="error" [ngClass]="{'passed':errorList.isUtf8}">
              <i class="material-icons dot" [ngClass]="{'hidden':errorList.isUtf8}">fiber_manual_record</i>
              <i class="material-icons">done</i>&nbsp;&nbsp;
              <span>{{ 'error_code.changepassword.format.utf8' |translate }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label>{{'changePassword.confirmPassword'| translate}}</mat-label>
            <mat-icon class="form-input-icon" matPrefix>lock</mat-icon>
            <input type="password" matInput class="form-field" placeholder="" value="" formControlName="confirmPassword"
              placeholder="{{ 'changePassword.placeholder.re-new' | translate }}" (keydown)="onKeydown($event)">
            <mat-error *ngIf="f.confirmPassword.hasError('required')">
              {{ 'profileAccount.validator.required' | translate }}
            </mat-error>
            <mat-error *ngIf="f.confirmPassword.hasError('equalTo') && !f.confirmPassword.hasError('required')">
              {{ 'profileAccount.validator.equalPassword' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <button type="button" class="btn-cancel text-white common-button" (click)="cancel(false)" mat-raised-button>
          <i class="material-icons">close</i>
          {{ 'commonAction.cancel' | translate }}
        </button>
        <button type="submit" mat-raised-button class="btn-save text-white button-submit ml-3 common-button">
          <i class="material-icons">save</i>
          {{ 'changePassword.confirm' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
  <div class="btn-close" (click)="cancel(false)">
    <i class="material-icons">close</i>
  </div>
</div>
