@import "../../../../../styles/ultilities/_variable.scss";
@import "../../../../../styles/ultilities/_variable.color.scss";

.ct-dialog .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}

ul.list-error {
  list-style: none;
  position: relative;
  background: none;
  padding: 0;
  margin-bottom: 0;

  &:before {
    border: none;

  }

  li.error {
    display: flex;
    align-items: center;

    i {
      font-size: 15px;
      color: #e2e2e2;
    }

    i.dot {
      font-size: 17px;
      position: absolute;
      color: #e2e2e2;
    }

    i.hidden {
      color: transparent;
    }

    span {
      font-size: 12px;
    }
  }

  .passed {
    color: $color-darkcyan;

    i:not(.dot) {
      color: $color-darkcyan;
    }
  }
}
