<mat-card class="transaction-management common-management">
  <mat-card-content>
    <mat-card-title class="w-100 mb-4">
      <div class="row mr-0">
        <div class="col-md-6">
          <span class="title page-title">{{ 'reconcile-paygate-financial.title' | translate}}</span>
        </div>
        <!-- <div class="col-md-6 d-flex justify-content-end pr-0">
            <button mat-raised-button (click)="exportToExcel()" class="button-search">
              <i class="fa fa-download"></i>
              {{ "wallet-register.button.export-excel" | translate }}
            </button>
        </div> -->
      </div>
      <div class="search-form mt-4">
        <form [formGroup]="searchForm" (ngSubmit)="searchData()">
          <div class="row w-100 mr-0 ml-0">
            <div class="col-12 col-xl-10 pl-0 pr-0 select-container">

              <mat-select class="form-control col-4" formControlName="listTransType" disableOptionCentering multiple
              panelClass="ct-select-position dialog-select" placeholder="{{ 'reconcile-paygate-financial.placeholder.trans-type'| translate }}">
              <mat-option #allSelected (click)="toggleAllService()" value="">{{ 'reconcile-all.service'| translate }}</mat-option>
              <mat-option *ngFor="let item of transTypeLists" value="{{item.value}}">
                {{ item.desc | translate }}
              </mat-option>
            </mat-select>
            <mat-select class="form-control item-3 col-3" formControlName="listPaymentMethods" disableOptionCentering multiple
              panelClass="ct-select-position dialog-select" placeholder="{{ 'reconcile-paygate-financial.placeholder.payment-method'| translate }}">
              <mat-option #allSelected (click)="toggleAllMethods()" value="">{{ 'reconcile-all.payment-methods'| translate }}</mat-option>
              <mat-option *ngFor="let item of paymentMethods" value="{{item.value}}">
                {{ item.desc | translate }}
              </mat-option>
            </mat-select>
            <mat-select class="form-control col-3" formControlName="listTransChannel" disableOptionCentering multiple
              panelClass="ct-select-position dialog-select" placeholder="{{ 'reconcile-paygate-financial.placeholder.trans-channel'| translate }}">
              <mat-option #allSelected (click)="toggleAllChannel()" value="">{{ 'reconcile-all.trans-channel'| translate }}</mat-option>
              <mat-option *ngFor="let item of transChannels" value="{{item.value}}">
                {{ item.desc | translate }}
              </mat-option>
            </mat-select>
            <mat-select class="form-control col-2" formControlName="listReconcileCode" disableOptionCentering multiple
              panelClass="ct-select-position dialog-select" placeholder="{{ 'reconcile-paygate-financial.placeholder.reconcile-code'| translate }}">
              <mat-option #allSelected (click)="toggleAllReconcile()" value="">{{ 'reconcile-all.reconcile-code'| translate }}</mat-option>
              <mat-option *ngFor="let item of reconcileCode" value="{{item.value}}">
                {{ item.desc | translate }}
              </mat-option>
            </mat-select>
              <mat-form-field class="ct-datepicker custom-position form-control col-2" floatLabel="never">
                <i class="fa fa-calendar ct-date-icon" (click)="dp1.toggle()" [attr.aria-expanded]="dp1.isOpen"></i>
                <input matInput type="text" [placeholder]="'reconcile-paygate-financial.placeholder.reconcile-date-from' | translate"
                  formControlName="fromDate" maxlength="10" bsDatepicker container="" placement="auto"
                  #dp1="bsDatepicker" [maxDate]="currentDay" [bsConfig]="dateConfig" (keypress)="keyPressDate($event)"
                  autocomplete="off" (change)="isInvalidDate($event, 'fromDate')" maxlength="10"
                  (keyup.enter)="searchData()" />
              </mat-form-field>
              <mat-form-field class="ct-datepicker custom-position form-control col-2" floatLabel="never">
                <i class="fa fa-calendar ct-date-icon" (click)="dp2.toggle()" [attr.aria-expanded]="dp2.isOpen"></i>
                <input matInput type="text" [placeholder]="'reconcile-paygate-financial.placeholder.reconcile-date-to' | translate"
                  formControlName="toDate" maxlength="10" bsDatepicker container="" placement="auto" #dp2="bsDatepicker"
                  [maxDate]="currentDay" [bsConfig]="dateConfig" (keypress)="keyPressDate($event)" autocomplete="off"
                  (change)="isInvalidDate($event, 'toDate')" maxlength="10" (keyup.enter)="searchData()" />
              </mat-form-field>
              <input type="text" formControlName="textSearch" class="form-control col-4" style="width: 37%;"
                [placeholder]="'reconcile-paygate-financial.placeholder.search-text' | translate" />
            </div>
            <div class="col-12 col-xl-2 pr-0 button-container">

              <button mat-raised-button class="button-search">
                <i class="fa fa-search"></i>
                {{ 'reconcile-paygate-financial.button.search' | translate }}
              </button>
              <button  type="button" mat-raised-button class="button-search ml-2 pl-2 pr-2" style="background: #ff5e00;" (click)="exportFileExcel()" >
                <i class="fa fa-cloud-download mr-1"></i>
                {{ 'reconcile-paygate-financial.button.excel-export' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-title>
    <div class="table-responsive table-hover">
      <table class="management-table table">
        <thead>
          <tr>
            <th class="col-no">
              {{ 'reconcile-paygate-financial.header.no' | translate }}
            </th>
            <!-- <th class="col-full-date">
                {{ 'batch-file-manager.data-column.reconcile-date' | translate }}
              </th> -->
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.trans-type' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.bav-order-id' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.pg-trans-id' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.mb-trans-id' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.amount' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.currency-type' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.trans-status' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.payment-method' | translate }}
            </th>
            <th class="col-status">
              {{ 'reconcile-paygate-financial.header.OrderID' | translate }}
            </th>
            <th class="col-full-date">
              {{ 'reconcile-paygate-financial.header.issuer' | translate }}
            </th>
            <th class="col-full-date">
              {{ 'reconcile-paygate-financial.header.payment-account' | translate }}
            </th>
            <th class="col-full-date">
              {{ 'reconcile-paygate-financial.header.payment-channel' | translate }}
            </th>
            <th class="col-full-date">
              {{ 'reconcile-paygate-financial.header.trans-date-time' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.reconcile-code' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.reconcile-detail' | translate }}
            </th>
            <th class="col-full-date">
              {{ 'reconcile-paygate-financial.header.update-datetime' | translate }}
            </th>
            <th class="col-name">
              {{ 'reconcile-paygate-financial.header.excute-status' | translate }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="dataTable && dataTable.length">
          <tr *ngFor="let item of dataTable; let i = index" (dblclick)="viewDetail(item.id)" class="pointer">
            <td class="col-no text-center">
              <a>{{ ((page-1)*pageSize) + i + 1 }}</a>
            </td>
            <td class="col-name">
              <!-- {{ item.processDate | date: 'dd/MM/yyyy' }} -->
              {{item.transType}}
            </td>
            <td class="col-full-date">
              {{ item.baV_Order_ID }}
            </td>
            <td class="col-name">
              {{ item.tradingCTT_Code }}
            </td>
            <td class="col-full-date">
              <!-- {{ item.excuteDate | date: 'dd/MM/yyyy hh:ss'}} -->
              {{item.mB_TransactionId}}
            </td>
            <td class="col-name text-center">
              {{ formatMoney(item?.amount,0,3)}}
            </td>
            <td class="col-name text-center">
              {{ item.currencyType }}
            </td>
            <td class="col-name text-center">
              {{ item.transStatus }}
            </td>
            <td class="col-name text-center">
              {{ item.paymentMethods }}
            </td>
            <td class="col-name text-center">
              {{ item.orderID }}
            </td>
            <td class="col-name text-center">
              {{ item.issuers }}
            </td>
            <td class="col-name text-center">
              {{ item.paymentAccount }}
            </td>
            <td class="col-name text-center">
              {{ item.tradingChannel }}
            </td>
            <td class="col-name text-center">
              {{ item.transDateTime }}
            </td>
            <td class="col-nametradingChannel text-center">
              {{ item.resultCode }}
            </td>
            <td class="col-name text-center">
              {{ item.descriptionResults }}
            </td>
            <td class="col-name text-center">
              {{ item.lastUpdate }}
            </td>
            <td class="col-name text-center">
              {{ item.processingStatus }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ite-pagination [page]="page" [pageSize]="pageSize" [total]="total" (pageChange)="changePage($event)"
      (pageSizeChange)="onPageSizeChange($event)" [loading]="loading">
    </ite-pagination>
  </mat-card-content>
</mat-card>
