@import "../../../../styles/ultilities/_variable.scss";
@import "../../../../styles/ultilities/_variable.color.scss";

::ng-deep .mymegamenu {
  margin-top: 12px;

  .mat-menu-item {
    height: 36px;
    line-height: 36px;

    .mat-icon {
      color: rgba(0, 0, 0, 0.87);
    }

    &:hover {
      background-color: $color-darkcyan;
      color: #fff;

      .mat-icon {
        color: #fff !important;
      }
    }
  }
}

.fullname {
  padding: 10px 16px;
  font-weight: 500;
  word-break: break-word;
}

.lang {
  display: flex;
  align-items: center;
}
